<!DOCTYPE html>
<html class=" js csstransforms3d"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>文章发布</title>
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/page.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.js"></script>

</head>

<body style="background: #f6f5fa;">

	<!--content S-->
	<div class="super-content RightMain" id="RightMain">
		
		<!--header-->
		<div class="superCtab">
			<div class="ctab-title clearfix"><h3>文章发布</h3><a href="javascript:;" class="sp-column"><i class="ico-mng"></i>栏目管理</a></div>
			
			<div class="ctab-Main">
				<div class="ctab-Main-title">
					<ul class="clearfix">
                        {% for category in categories %}
						<li class=""><a href="{% url 'App:wenzhang_xinwen' cid=category.cid%}">{{ category.name }}</a></li>
                        {% endfor %}
                        <script>
                          $(".ctab-Main-title li").eq({{ pos }}).addClass('cur')

                      </script>
					</ul>
				</div>
				
				<div class="ctab-Mian-cont">
					<div class="Mian-cont-btn clearfix">
						<div class="operateBtn">
							<a href="{% url 'ArticleManage:publish' cid=cid %}" class="greenbtn publish">发布文章</a>
						</div>
						<div class="searchBar">
                            <form action="{% url 'App:wenzhang_xinwen' cid=cid %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="cid" value="{{ cid }}">
							<input type="text" id="" value="" name="keyword" class="form-control srhTxt" placeholder="输入标题关键字搜索">
							<input type="submit" class="srhBtn" value="">
                            </form>
						</div>
					</div>
					
					<div class="Mian-cont-wrap">
						<div class="defaultTab-T">
							<table border="0" cellspacing="0" cellpadding="0" class="defaultTable">
								<tbody><tr><th class="t_1">文章ID</th><th class="t_2">文章标题</th><th class="t_3">发布时间</th><th class="t_4">操作</th></tr>
							</tbody></table>
						</div>
						<table border="0" cellspacing="0" cellpadding="0" class="defaultTable defaultTable2">
							<tbody>
                            {% for article in pager.object_list %}
                            <tr>
								<td class="t_1">{{ article.aid }}</td>
								<td class="t_2"><a href="#">{{ article.title }}</a></td>
								<td class="t_3">{{ article.create_time }}</td>
								<td class="t_4"><div class="btn">
                                    <a href="{% url 'ArticleManage:update' cid=cid aid=article.aid %}" class="modify">修改</a>
                                    <a href="#" class="delete" onclick="move()" id="delete" data="{{ article.aid }}">删除</a>
                                </div></td>
							</tr>
							{% endfor %}
						</tbody></table>
						<!--pages S-->
						<div class="pageSelect">
							<span>共 <b>{{ paginator.count }}</b> 条 每页 <b>{{ paginator.per_page }}</b>条  {{pager.number}}/{{ paginator.num_pages }}</span>
							<div class="pageWrap">
                            {% if pager.number == 1 %}
                                <a   class="pagePre" style="pointer-events: none;"><i class="ico-pre">&nbsp;</i></a>
                            {% else %}
                                <a href="{% url 'App:wenzhang_xinwen' cid=cid page=prepage %}" class="pagePre"><i class="ico-pre">&nbsp;</i></a>
                            {% endif %}
                                {% for current in pager.page_range %}
                                    {% if pager.number == current %}
								<a href="{% url 'App:wenzhang_xinwen' cid=cid page=current %}" class="pagenumb cur">{{ current }}</a>
                                    {% else %}
                                        <a href="{% url 'App:wenzhang_xinwen' cid=cid page=current %}" class="pagenumb">{{ current }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% if pager.number == paginator.num_pages %}
                                <a   class="pagenext" style="pointer-events: none;"><i class="ico-next" >&nbsp;</i></a>
                            {% else %}
                                <a href="{% url 'App:wenzhang_xinwen' cid=cid page=nextpage %}"  class="pagenext"><i class="ico-next">&nbsp;</i></a>
                            {% endif %}
							</div>
						</div>
						<!--pages E-->
					</div>
				
				</div>
			</div>
		</div>
		<!--main-->


	</div>

    <script>
        function move(){
            var obj=document.getElementById("delete");
            var aid=obj.getAttribute('data')
            var page={{ page }}
            var cid={{ cid }}
            var abc="/article/delete/"+aid+"/"+cid+"/"+page+"/"
            console.log(abc)
            if(confirm('确定删除？'))
            {
                obj.setAttribute("href",abc)
            }
        }
    </script>
	<!--content E-->
	





</body></html>